/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-kerning: normal;

  background-image: url(/assets/images/footer.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 1150px auto;

  @media screen and (max-width: $on-laptop) {
      background-position: center bottom;
  }

  &.cases {
    background: #fff;
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

p {
  line-height: 1.5em;
  
  @media screen and (min-width: $on-laptop) {
    line-height: 1.7em;
  }
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-style: normal;
  color: $header-color;
  line-height: 1.3em;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

@media screen and (min-width: $on-laptop) {
  h1 {
    font-size: 3.3em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.2em;
  }
}

.section-title {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B7B7B7;
  font-weight: 500;

  @media screen and (max-width: $on-laptop) {
    display: none;
  }
}

.margin-top {
  margin-top: $spacing-unit;
}

.margin-bottom {
  margin-bottom: $spacing-unit;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  background: $brand-color;
  padding: .75em 1.25em;
  color: #fff;
  display: inline-block;
  background-image: linear-gradient(224deg, #FA4700 0%, #FA6400 100%);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875em;

  &:hover {
    text-decoration: none;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.big {
  max-width: calc(#{$content-width + 400} - (#{$spacing-unit} * 2));

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width + 400} - (#{$spacing-unit}));
  }
}

.text-center {
  text-align: center;
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

hr {
  margin: ($spacing-unit * 3) auto;
  padding: 0;
  border: none;
  border-top: 2px dashed #C7C7C7;
  width: 50px;
}